<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col 12 mt-5">
          <h2 class="text-center">Anime Api - Endpoint</h2>
          <div class="table-responsive mt-5">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Endpoint</th>
                  <th scope="col">Method</th>
                  <th scope="col">Keterangan</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>/api/ongoing</td>
                  <td>
                    <h5><span class="badge bg-success">GET</span></h5>
                  </td>
                  <td>Menampilkan anime Ongoing</td>
                </tr>
                <tr>
                  <td>/api/ongoing/:page</td>
                  <td>
                    <h5><span class="badge bg-success">GET</span></h5>
                  </td>
                  <td>
                    Menampilkan anime Ongoing berdasarkan Halaman.
                    <br />
                    Contoh : <strong>/api/ongoing/2</strong>
                  </td>
                </tr>
                <tr>
                  <td>/api/complete</td>
                  <td>
                    <h5><span class="badge bg-success">GET</span></h5>
                  </td>
                  <td>Menampilkan anime Complete / End</td>
                </tr>
                <tr>
                  <td>/api/complete/:page</td>
                  <td>
                    <h5><span class="badge bg-success">GET</span></h5>
                  </td>
                  <td>
                    Menampilkan anime Complete berdasarkan Halaman.
                    <br />
                    Contoh : <strong>/api/complete/2</strong>
                  </td>
                </tr>
                <tr>
                  <td>/api/genre</td>
                  <td>
                    <h5><span class="badge bg-success">GET</span></h5>
                  </td>
                  <td>Menampilkan daftar genre anime</td>
                </tr>
                <tr>
                  <td>/api/genre/:id</td>
                  <td>
                    <h5><span class="badge bg-success">GET</span></h5>
                  </td>
                  <td>
                    Menampilkan anime berdasarkan id genre.
                    <br />
                    Contoh : <strong>/api/genre/action</strong>
                  </td>
                </tr>
                <tr>
                  <td>/api/genre/:id/:page</td>
                  <td>
                    <h5><span class="badge bg-success">GET</span></h5>
                  </td>
                  <td>
                    Menampilkan anime berdasarkan id genre dan halaman.
                    <br />
                    Contoh : <strong>/api/genre/action/2</strong>
                  </td>
                </tr>
                <tr>
                  <td>/api/anime/:id</td>
                  <td>
                    <h5><span class="badge bg-success">GET</span></h5>
                  </td>
                  <td>
                    Menampilkan detail anime dan daftar episodenya.
                    <br />
                    Contoh : <strong>/api/anime/tomo-onanoko-sub-indo</strong>
                  </td>
                </tr>

                <tr>
                  <td>/api/anime/:id</td>
                  <td>
                    <h5><span class="badge bg-success">GET</span></h5>
                  </td>
                  <td>
                    Menampilkan detail anime dan daftar episodenya.
                    <br />
                    Contoh : <strong>/api/anime/tomo-onanoko-sub-indo</strong>
                  </td>
                </tr>
                <tr>
                  <td>/api/episode/:id</td>
                  <td>
                    <h5><span class="badge bg-success">GET</span></h5>
                  </td>
                  <td>
                    Menampilkan detail episode dalam anime seperti straming dan
                    mirror streaming.
                    <br />
                    Contoh :
                    <strong>/api/episode/tonanoko-episode-10-sub-indo</strong>
                  </td>
                </tr>
                <tr>
                  <td>/api/mirror/:id</td>
                  <td>
                    <h5><span class="badge bg-success">GET</span></h5>
                  </td>
                  <td>
                    Menampilkan link mirror dengan id yang di dapat dari detail
                    episode
                    <br />
                    Contoh :
                    <strong
                      >/api/mirror/eyJpZCI6MTMzNzgwLCJpIjowLCJxIjoiMzYwcCJ9</strong
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
